<h1>DHCP service %(cn)s</h1>

<p class="EntryDN">%(entryDN)s</p>

<table>
  <tr>
    <td>Common Name:</td>
    <td>%(cn)s</td>
  </tr>
  <tr>
    <td>DHCP primary server:</td>
    <td>%(dhcpPrimaryDN)s</td>
  </tr>
  <tr>
    <td>DHCP secondary server:</td>
    <td>%(dhcpSecondaryDN)s</td>
  </tr>
  <tr>
    <td>DHCP comment:</td>
    <td>%(dhcpComments)s</td>
  </tr>
  <tr>
    <td>DHCP option:</td>
    <td>%(dhcpOption)s</td>
  </tr>
  <tr>
    <td>DHCP statements:</td>
    <td>%(dhcpStatements)s</td>
  </tr>
</table>
