/* Style sheet for web2ldap application looking like a old-fashioned terminal */

body {
  color:#00ff00;
  background-color:#000000;
  font-family:monospace;
}

img {
  max-width:150px;
}

h1 {
  font-size:1.5em;
  font-weight:bold;
  margin-top:0em;
  padding-top:0em;
  padding-bottom:0.5em;
  border-bottom:1px solid;
}

h2 {
  font-size:1.25em;
  font-weight:bold;
  padding-top:0.3em;
  padding-bottom:0.2em;
  border-bottom:1px solid;
}

h3 {
  font-size:1.1em;
  font-weight:bold;
  padding-top:0.2em;
  border-bottom:1px solid;
}

p {
  padding-bottom:0.2em;
}

td {
  vertical-align:top;
  padding:0.2em;
}

li {
  vertical-align:top;
  list-style-type:square;
  padding:0.2em;
}

img.logo {
  width:70px;
  size:100px;
}

/* TopSection encloses StatusLine, MainMenu and ContextMenu */
#TopSection {
}

#StatusLine {
  z-index:10;
  top:0em;
  left:0em;
  right:0em;
  text-align:left;
  padding:0.5em;
  border:none;
  overflow:auto;
  white-space: nowrap;
}

#DITNavigation {
  z-index:10;
  top:3.5em;
  margin:0;
  left:0;
  right:0;
  text-align:left;
  padding:0.5em;
  white-space: nowrap;
  overflow:hidden;
}

html>body #StatusLine {
  position:fixed;
}

html>body #DITNavigation {
  position:fixed;
}

#StatusLine table {
  top:0;
  width:100%;
  font-size:0.95em;
}

#StatusLine td {
  padding:0.1em;
}

#MainMenu {
  line-height: 125%;
  height: 100%;
  top:0;
  left:0;
  margin:0;
  margin-top:5.5em;
  padding:0.3em 0 0 0;
  min-width:6.5em;
  width:10%;
  float:left;
}

html>body #MainMenu {
  position:fixed;
}

#ContextMenu {
  line-height: 125%;
  height: 100%;
  top:0;
  right:0;
  margin:0;
  margin-top:5.5em;
  padding:0.3em 0 0 0;
  min-width:6.5em;
  width:10%;
  float:right;
}

html>body #ContextMenu {
  position:fixed;
}

#SrchResList {
  margin:1em 0 1em 0;
}

#SrchResList td {
  vertical-align:top;
  padding:0.6em;
  border-bottom:2px solid;
  margin-bottom:0.2em;
}

#SrchResList tr {
}

#SrchResList td.CT {
  width:7.1em;
  padding:0em;
  padding-top:0.5em;
}

table.HexDump td {
  margin:0;
  padding:0.2em;
  border:1px solid #7a7a7a;
  white-space: nowrap;
}

table.ReadAttrTable {
}

tr.ReadAttrTableRow {
}

td.ReadAttrType {
  text-align:right;
  width:10%;
  border-bottom:1px dotted;
  padding:0.2em;
  padding-right:1em;
  padding-left:0.3em;
  margin:0.2em;
  white-space: nowrap;
}

td.ReadAttrValue {
  border-bottom:1px dotted;
  padding:0.2em;
  margin:0.2em;
}

td.InputAttrType {
  text-align:right;
  vertical-align:top;
  width:10%;
  padding:0.1em;
  padding-right:0.3em;
  margin:0.2em;
  white-space: nowrap;
}

td.About {
  text-align:right;
  vertical-align:middle;
}

div.Main {
  position:absolute;
  top:5.5em;
  bottom:0;
  right:12%;
  left:12%;
  text-align:left;
  line-height: 140%;
  padding:0.5em;
  color:#00ff00;
  background-color:#000000;
  overflow-x: auto;
  -ms-overflow-x: auto;
  overflow-y: auto;
  -ms-overflow-y: auto;
}

legend {
  font-size:85%;
  padding:0.2em 0.5em 0.1em 0.5em;
}

fieldset {
  margin:0em;
  margin-top:1.0em;
  padding:0.8em;
  border:1px solid;
}

#Message {
}

#Input {
}

.InvalidInput {
  background-color: #f8efdf;
}

.ErrorMessage {
  font-weight:bold;
  padding:0.5em;
  border: 3px solid #ff0000;
}

.WarningMessage {
  font-weight:bold;
  padding:0.5em;
  border: 3px solid #00ff00;
}

.SuccessMessage {
  font-weight:normal;
  padding:0.5em;
  border: 1px solid;
}

input,button,select,textarea {
  vertical-align:top;
  color:#00ff00;
  background-color:transparent;
  border:1px solid;
  padding:0.1em;
}

code {
  white-space: nowrap;
}

kbd {
  white-space:nowrap;
  overflow:scroll;
  font-weight:bold;
  font-family:Courier,mono-space;
  font-size:1.5em;
}

input[type="submit"],input[type="reset"],button {
  color:#00ff00;
  border:3px solid #00ff00;
}

input[type="submit"]:hover,input[type="reset"]:hover,button:hover {
  color:#000000;
  background-color:#00ff00;
}

#DIT dl {
  border-left:1px dotted #606060;
  white-space: nowrap;
  margin:0.1em;
  margin-left:1.7em;
  padding:0.1em;
}

#DIT dt {
  text-align:left;
  margin:0.3em 0 0.2em 0.1em;
  padding:0em;
}

#DIT dd {
  margin:0.3em 0 0.2em 0.1em;
  padding:0em;
}

/* link styles */

a {
  text-align:center;
  padding:0.2em;
  color:#00a0FF;
  text-decoration:none;
  font-weight:bold;
}

#StatusLine a {
}

a:hover,a:active,a:focus {
  text-decoration:underline;
}


a.CL {
  text-align:center;
  color:#c81f2a;
  text-decoration:none;
  font-weight:bold;
  text-align:center;
}

a.CL:hover,a.CL:active,a.CL:focus {
  text-decoration:underline;
}

dt {
  padding:0.1em;
}

dd {
  padding:0.1em;
}

p.ScrollLink {
  font-size:0.6em;
  text-align:right;
  float:right;
}

table.PrintSearchResults {
  background: #ffffff;
  color: #000000;
}

#TopSection a.CL {
  border:none;
  padding:0.1em;
  background-color:transparent;
}

#MainMenu a.CL {
  display:block;
  padding:0.75em 0.3em 0.75em 0.3em;
  margin:0;
  border-bottom: 2px solid;
}

#MainMenu a.CL:hover,#MainMenu a.CL:active,#MainMenu a.CL:focus {
}

#ContextMenu a.CL {
  display:block;
  padding:0.75em 0.3em 0.75em 0.3em;
  margin:0;
  border-bottom: 2px solid;
}

#ContextMenu a.CL:hover,#ContextMenu a.CL:active,#ContextMenu a.CL:focus {
}

#TopSection a.CL:hover,#TopSection a.CL:active,#TopSection a.CL:focus {
}

a.hide {
  visibility:hidden;
  margin:0;
  padding:0;
}

/* Skip navigation area */

#skipnavi a {
  position:fixed;
  z-index:0;
  padding:0.5em;
  top:-2em;
  left:0em;
  float:left;
  text-align:left;
  border-top-right-radius:4px;
  background-color:transparent;
  background:transparent;
  -webkit-transition: top 1s ease-out, background 1s linear;
  transition: top 1s ease-out, background 1s linear;
}

#skipnavi a:focus,#skipnavi a:hover,#skipnavi a:active {
  top:0;
  z-index:20;
  background-color:#ffffff;
  outline:0;
  -webkit-transition: top .1s ease-in, background .5s linear;
  transition: top .1s ease-in, background .5s linear;
}
