<h1>Account</h1>

<fieldset>
  <legend>Account information</legend>
  <table>
    <tr>
      <td>User-ID:</td>
      <td>%(uid)s</td>
    </tr>
    <tr>
      <td>Short description:</td>
      <td>%(description)s</td>
    </tr>
    <tr>
      <td>Host name(s):</td>
      <td>%(host)s</td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>Organizational information</legend>
  <table>
    <tr>
      <td>Organization:</td>
      <td>%(o)s</td>
    </tr>
    <tr>
      <td>Organizational unit:</td>
      <td>%(ou)s</td>
    </tr>
    <tr>
      <td>Location:</td>
      <td>%(l)s</td>
    </tr>
  </table>
</fieldset>
