<div lang="en">

  <h1>Organization / Company</h1>

  <fieldset>
    <legend>General information</legend>
    <table>
      <tr>
        <td>Organization's name:</td>
        <td>%(o)s</td>
      </tr>
      <tr>
        <td>Business category:</td>
        <td>%(businessCategory)s</td>
      </tr>
      <tr>
        <td>Description:</td>
        <td>%(description)s</td>
      </tr>
    </table>
  </fieldset>

  <fieldset>
    <legend>Addresses</legend>
    <table>
      <tr>
        <td>Street:</td>
        <td>%(streetAddress)s</td>
      </tr>
      <tr>
        <td>Post Office Box:</td>
        <td>%(postOfficeBox)s</td>
      </tr>
      <tr>
        <td>Postal Code:</td>
        <td>%(postalCode)s</td>
      </tr>
      <tr>
        <td>Location:</td>
        <td>%(l)s</td>
      </tr>
      <tr>
        <td>State:</td>
        <td>%(st)s</td>
      </tr>
      <tr>
        <td>Postal Address:</td>
        <td>%(postalAddress)s</td>
      </tr>
    </table>
  </fieldset>

  <fieldset>
    <legend>Phone Numbers</legend>
    <table>
      <tr>
        <td>Telephone:</td>
        <td>%(telephoneNumber)s</td>
      </tr>
      <tr>
        <td>FAX:</td>
        <td>%(facsimileTelephoneNumber)s</td>
      </tr>
    </table>
  </fieldset>

</div>
