<h2>PowerDNS record data (PdnsRecordData)</h2>

<fieldset>
  <table>
    <tr>
      <td>ALIAS RR type (ALIASRecord):</td>
      <td>%(ALIASRecord)s</td>
    </tr>
    <tr>
      <td>Not authoritative for (PdnsRecordNoAuth):</td>
      <td>%(PdnsRecordNoAuth)s</td>
    </tr>
    <tr>
      <td>RR ordering (PdnsRecordOrdername):</td>
      <td>%(PdnsRecordOrdername)s</td>
    </tr>
    <tr>
      <td>TTL for RR set (PdnsRecordTTL):</td>
      <td>%(PdnsRecordTTL)s</td>
    </tr>
  </table>
</fieldset>
