<h1>eduPerson</h1>

<fieldset>
  <table>
  <tr>
    <td>Nick name:</td>
    <td>%(eduPersonNickname)s</td>
  </tr>
  <tr>
    <td>Principal name:</td>
    <td>%(eduPersonPrincipalName)s</td>
  </tr>
  <tr>
    <td>Entitlement:</td>
    <td>%(eduPersonEntitlement)s</td>
  </tr>
  <tr>
    <td>Affiliation:</td>
    <td>%(eduPersonAffiliation)s</td>
  </tr>
  <tr>
    <td>Primary affiliation:</td>
    <td>%(eduPersonPrimaryAffiliation)s</td>
  </tr>
  <tr>
    <td>Scoped affiliation:</td>
    <td>%(eduPersonScopedAffiliation)s</td>
  </tr>
  <tr>
    <td>DN of organization:</td>
    <td>%(eduPersonOrgDN)s</td>
  </tr>
  <tr>
    <td>DN of organizational unit:</td>
    <td>%(eduPersonOrgUnitDN)s</td>
  </tr>
  <tr>
    <td>DN of primary organizational unit:</td>
    <td>%(eduPersonPrimaryOrgUnitDN)s</td>
  </tr>
  </table>
</fieldset>
