<h2>PowerDNS master domain (PdnsDomain)</h2>

<fieldset>
  <table>
    <tr>
      <td>Unique numeric ID (PdnsDomainId):</td>
      <td>%(PdnsDomainId)s</td>
    </tr>
    <tr>
      <td>IP address(es) of the master(s) (PdnsDomainMaster):</td>
      <td>%(PdnsDomainMaster)s</td>
    </tr>
    <tr>
      <td>Last serial number slaves have seen (PdnsDomainNotifiedSerial):</td>
      <td>%(PdnsDomainNotifiedSerial)s</td>
    </tr>
    <tr>
      <td>Type of zone (PdnsDomainType):</td>
      <td>%(PdnsDomainType)s</td>
    </tr>
  </table>
</fieldset>
