<div lang="en">

  <h1>%(ou)s</h1>

  <p class="EntryDN">%(entryDN)s</p>

  <h2>Organizational information</h2>

  <table>
    <tr>
      <td>Organizational unit name:</td>
      <td>%(ou)s</td>
    </tr>
    <tr>
      <td>Business category:</td>
      <td>%(businessCategory)s</td>
    </tr>
    <tr>
      <td>Description:</td>
      <td>%(description)s</td>
    </tr>
  </table>

  <h2>Adressangaben</h2>

  <table>
    <tr>
      <td>Address:</td>
      <td>
        <address>
          %(streetAddress)s<br>
          %(postOfficeBox)s<br>
          %(postalCode)s %(l)s<br>
          %(st)s<br>
          %(c)s<br>
         </address>
      </td>
    </tr>
    <tr>
      <td>Postal Address:</td>
      <td>
        <address>
          %(postalAddress)s
        </address>
      </td>
    </tr>
  </table>

  <h2>Phone Numbers</h2>

  <table>
    <tr>
      <td>Telephone:</td>
      <td>%(telephoneNumber)s</td>
    </tr>
    <tr>
      <td>FAX:</td>
      <td>%(facsimileTelephoneNumber)s</td>
    </tr>
  </table>

</div>
