<h2>Password reset policy</h2>

<table>
  <tr>
    <td>Directly enable password reset:</td>
    <td>%(msPwdResetEnabled)s</td>
  </tr>
  <tr>
    <td>Reset password hash algorithm:</td>
    <td>%(msPwdResetHashAlgorithm)s</td>
  </tr>
  <tr>
    <td>Length of reset password:</td>
    <td>%(msPwdResetPwLen)s</td>
  </tr>
  <tr>
    <td>Length of admin part:</td>
    <td>%(msPwdResetAdminPwLen)s</td>
  </tr>
  <tr>
    <td>Maximum age of reset password:</td>
    <td>%(msPwdResetMaxAge)s</td>
  </tr>
</table>
