<h1>Account %(uid)s</h1>

<p class="EntryDN">%(entryDN)s</p>

<table>
  <tr>
    <td>User-ID:</td>
    <td>%(uid)s</td>
  </tr>
  <tr>
    <td>Short description:</td>
    <td>%(description)s</td>
  </tr>
  <tr>
    <td>Host name(s):</td>
    <td>%(host)s</td>
  </tr>
</table>

<h2>Organizational information</h2>

<table>
  <tr>
    <td>Organization:</td>
    <td>%(o)s</td>
  </tr>
  <tr>
    <td>Organizational unit:</td>
    <td>%(ou)s</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>%(l)s</td>
  </tr>
</table>
