<h1>Consumer connection %(cn)s - %(olmSRSyncPhase)s</h1>

<p class="EntryDN">%(entryDN)s</p>

<table>
  <tr>
    <td>Status:</td>
    <td>%(olmSRSyncPhase)s</td>
  </tr>
  <tr>
    <td>Providers:</td>
    <td>%(olmSRProviderURIList)s</td>
  </tr>
  <tr>
    <td>Outgoing connection:</td>
    <td>%(olmSRConnection)s</td>
  </tr>
  <tr>
    <td>Last connect:</td>
    <td>%(olmSRLastConnect)s</td>
  </tr>
  <tr>
    <td>Last contact:</td>
    <td>%(olmSRLastContact)s</td>
  </tr>
  <tr>
    <td>Last cookie received:</td>
    <td>%(olmSRLastCookieRcvd)s</td>
  </tr>
  <tr>
    <td>Last cookie sent:</td>
    <td>%(olmSRLastCookieSent)s</td>
  </tr>
  <tr>
    <td>Next connect:</td>
    <td>%(olmSRNextConnect)s</td>
  </tr>
</table>
