<fieldset>

  <h2>OATH policy parameters</h2>

  <table>
    <tr>
      <td>Number of OTP value digits:</td>
      <td>%(oathOTPLength)s</td>
    </tr>
    <tr>
      <td>HMAC algorithm used for OTP:</td>
      <td>%(oathHMACAlgorithm)s</td>
    </tr>
    <tr>
      <td>Throttle limit:</td>
      <td>%(oathThrottleLimit)s</td>
    </tr>
    <tr>
      <td>Maximum usage period (expiry):</td>
      <td>%(oathSecretMaxAge)s</td>
    </tr>
    <tr>
      <td>Maximum number of uses:</td>
      <td>%(oathMaxUsageCount)s</td>
    </tr>
  </table>

</fieldset>
