<h2>TOTP token</h2>

<fieldset>
  <legend>General</legend>
  <table>
    <tr>
      <td>Token device serial number:</td>
      <td>%(oathTokenSerialNumber)s</td>
    </tr>
    <tr>
      <td>OATH token ID:</td>
      <td>%(oathTokenIdentifier)s</td>
    </tr>
    <tr>
      <td>TOTP parameters policy:</td>
      <td>%(oathTOTPParams)s</td>
    </tr>
    <tr>
      <td>Time at which shared secret was set:</td>
      <td>%(oathSecretTime)s</td>
    </tr>
    <tr>
      <td>Shared secret:</td>
      <td>%(oathSecret)s</td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>State</legend>
  <table>
    <tr>
      <td>Last timestep seen:</td>
      <td>%(oathTOTPLastTimeStep)s</td>
    </tr>
    <tr>
      <td>Last successful login:</td>
      <td>%(oathLastLogin)s</td>
    </tr>
    <tr>
      <td>Failure count:</td>
      <td>%(oathFailureCount)s</td>
    </tr>
    <tr>
      <td>Last failure time:</td>
      <td>%(oathLastFailure)s</td>
    </tr>
  </table>
</fieldset>
