<fieldset>

  <legend>Password reset data</legend>

  <table>
    <tr>
      <td>
        Second part of temporary password (msPwdResetAdminPw):
      </td>
      <td><kbd>%(msPwdResetAdminPw)s</kbd></td>
    </tr>
    <tr>
      <td>
        Password reset confirmed (msPwdResetEnabled):
      </td>
      <td>%(msPwdResetEnabled)s</td>
    </tr>
    <tr>
      <td>
        Time of password reset request (msPwdResetTimestamp):
      </td>
      <td>%(msPwdResetTimestamp)s</td>
    </tr>
    <tr>
      <td>
        Temporary password valid until (msPwdResetExpirationTime):
      </td>
      <td>%(msPwdResetExpirationTime)s</td>
    </tr>
  </table>

</fieldset>
