<h2>&AElig;-DIR POSIX Id ranges</h2>

<fieldset>
  <legend>GID range</legend>
  <table>
    <tr>
      <td>minimum GID (aeGidNumberMin):</td>
      <td>%(aeGidNumberMin)s</td>
    </tr>
    <tr>
      <td>maximum GID (aeGidNumberMax):</td>
      <td>%(aeGidNumberMax)s</td>
    </tr>
    <tr>
      <td>next GID (gidNumber):</td>
      <td>%(gidNumber)s</td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>UID range</legend>
  <table>
    <tr>
      <td>minimum UID (aeUidNumberMin):</td>
      <td>%(aeUidNumberMin)s</td>
    </tr>
    <tr>
      <td>maximum UID (aeUidNumberMax):</td>
      <td>%(aeUidNumberMax)s</td>
    </tr>
    <tr>
      <td>next UID (uidNumber):</td>
      <td>%(uidNumber)s</td>
    </tr>
  </table>
</fieldset>
