<div lang="en">

  <h1>OpenLDAP root DSE</h1>

  <p>
    Supported LDAP protocol versions: <strong>%(supportedLDAPVersion)s</strong>
  </p>

  <h2>All naming contexts</h2>
  <p>%(namingContexts)s</p>

  <h2>Specific Databases</h2>
  <table>
    <tr>
      <td>&AElig;-DIR main database:</td>
      <td>%(aeRoot)s</td>
    </tr>
    <tr>
      <td>&AElig;-DIR session database:</td>
      <td>%(aeSessionContext)s</td>
    </tr>
    <tr>
      <td>OpenLDAP configuration:</td>
      <td>%(configContext)s</td>
    </tr>
    <tr>
      <td>OpenLDAP monitoring:</td>
      <td>%(monitorContext)s</td>
    </tr>
    <tr>
      <td>Dynamic subtrees:</td>
      <td>%(dynamicSubtrees)s</td>
    </tr>
  </table>

  <h2>Supported SASL mechanisms</h2>
  <p>%(supportedSASLMechanisms)s</p>

  <h2>Extended Controls</h2>
  <p>%(supportedControl)s</p>

  <h2>Extensions</h2>
  <p>%(supportedExtension)s</p>

  <h2>Features</h2>
  <p>%(supportedFeatures)s</p>

</div>
